<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Size, Extension" />
    </system.webServer>
    <system.web>
        <customErrors defaultRedirect="about:blank" mode="On">
            <error redirect="about:blank" statusCode="404" />
        </customErrors>
    </system.web>
</configuration>
